<%=link_to "Create New Recipe", new_recipe_path%>
<% if is_user_nested? %>
  <% if recipes_owner? %>
    <h1>My Recipes</h1>
    <%= render partial: "recipes", locals: {recipes: @recipes} %>
  <% else %>
    <%= render(@user) %>
  <% end %>
<% else %>
  <h1>Recipes</h1>
  <%= render partial: "recipes", locals: {recipes: @recipes} %>
<% end %>
<div id='here'></div>
