<%= render(@recipe) %>
<h4>Reviews</h4>
<div class="reviews">
<%= render :partial => "reviews/review", :collection => @recipe.reviews %>
</div>
<%= render :partial => "reviews/form", :locals => {:review => @review} %>
